/* css styles */

/* fonts size */
.callout-header {
  font-size: 1rem !important;
}

.callout-body {
  font-size: 1rem !important;
}

.katex {
  font-size: 1em !important;
}

/* indentaion */
/*
p {
  text-indent: 2em !important;
}
*/